<thead>
<tr>
<th></th>
<th colspan='8'>threads</th>
</tr>
<tr>
<th>order</th>
<th>1</th>
<th>2</th>
<th>4</th>
<th>8</th>
</tr>
</thead>
<tbody>
<tr>
<td>2</td>
<td>0.163</th>
<td>0.113</th>
<td>0.132</th>
<td>0.143</th>
</tr>
<tr>
<td>3</td>
<td>0.949</th>
<td>0.530</th>
<td>0.349</th>
<td>0.383</th>
</tr>
<tr>
<td>4</td>
<td>6.490</th>
<td>3.689</th>
<td>2.082</th>
<td>1.911</th>
</tr>
<tr>
<td>5</td>
<td>49.962</th>
<td>27.154</th>
<td>15.061</th>
<td>12.445</th>
</tr>
<tr>
<td>6</td>
<td>412.647</th>
<td>220.077</th>
<td>120.219</th>
<td>95.550</th>
</tr>
<tr>
<td>7</td>
<td>3270.566</th>
<td>1746.786</th>
<td>946.903</th>
<td>740.649</th>
</tr>
</tbody>
